import(methods)

importFrom(graphics, axis, box, hist, image, layout, lines, mtext, par,
           plot, plot.new, plot.window, polygon, title)

importFrom(grDevices, colorRampPalette, colors, gray)

importFrom(igraph, E, "E<-", graph.adjacency, layout.random, graph.empty,
           plot.igraph, subgraph, V, "V<-")

importFrom(MASS, fitdistr)

importFrom(pvclust, pvclust)

importFrom(stats, as.dist, cor, dbeta, density, dist, hclust, median,
           na.omit, nlm, step)

importFrom(utils, assignInNamespace, getFromNamespace,
           setTxtProgressBar, txtProgressBar)
           
exportClasses(
	"BetaMixture",
	"PAN"
)
export(
	   "assoScore",
	   "cosineSim",
	   "cosineDist"
	   )

exportMethods(
	"permNULL",
	"fitNULL",
	"fitBM",
	"p2SNR",
	"SNR2p",
	"infer",
	"view",
	"summarize",
	"viewLegend",
	"buildPAN",
	"viewPAN",
	"exportPAN",
	"sigModules",
	"pvclustModule",
	"viewNestedModules"
)

